.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    position: sticky;
    background-color:white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9p rgba(122, 51, 51, 0.75);
}

.header-left {
    display: flex;
    justify-content: space-evenly;
}

.header-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

/* should use this in all clones.. */
.header-input > input {
    border: none;
    background-color:transparent;
    outline-width: 0;
}
.header-left > img{
    height: 40px;
}

.header-right {
    display: flex;
}

.header-center {
    display: flex;
}

.header-option > .MuiSvgIcon-root {
    color: grey;
}

.header-option:hover > .MuiSvgIcon-root{
    color: #2e81f4;
}

.header-option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info > h4 {
    margin-left: 10px;
}

.header-option--active {
    border-bottom: 4px solid #2e81f4;
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header-option--active >.MuiSvgIcon-root {
    color: #2e81f4;
}